.clock {
    font-family: Arial, sans-serif;
    /* text-align: center; */
    margin-top: 50px;

}
h3 {
    margin-bottom: 10px;
    color: #555;
}
#time {
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 2em;
    background-color: #e9e50b;
    color: #333;
}