*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #414141;
    color: aliceblue;
}
.box{
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}
ul{
    display: flex;
    margin: 10px;
    list-style: none;
}
ul li{
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.img{

    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 2px solid white;
    overflow: hidden;
}
a{
    text-align: center;
    background-color: cadetblue;
    display: block;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;}